@model  WeatherApiOptions
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Weather API's Client Id and Client Secret</h2>
    <p>Client Id: @Model.ClientId</p>
    <p>Client Secret: @Model.ClientSecret</p>
</div>
