

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to IConfiguration Home Page</h1>
    <div>
        <h2>Weather API's Client Id and Client Secret</h2>
        <p>Client Id: @ViewBag.ClientId</p>
        <p>Client Secret: @ViewBag.ClientSecret</p>
        
    </div>
</body>
</html>